<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>

  <!--Le CSS doit être rangé dans public car on autorise son accès
    (c'est un élément statique à mettre dans ce genre de dossier)-->

  <body>
    <!--On importe avec EJS le header stocké dans partials-->

    <%- include('partials/header') %>

    <!--Le dossier Views permet de stocker les fichier .ejs-->
    <main>
      <h1>Calculator 2022</h1>

      <form method="post" action="/temperature" autocomplete="off">
        <br />
        <input
          id="bar"
          type="text"
          name="City"
          placeholder="Ecrivez le nom d'une ville"
        />
        <div>
          <ol id="suggestion" class="gradient-list">
            <!--Cette liste sera remplie par les propositions d'autocomplétion-->
          </ol>
        </div>
        <input type="submit" value="Rechercher" />
      </form>
    </main>

    <!--On utilise ce script pour utiliser axios-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!--On utilise ce script pour stocker le code de l'autocomplétion-->
    <script src="/js/autocomplete.js"></script>
  </body>
</html>
