<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style/style.css" />
  </head>
  <body>
    <!--Le paragraphe possède une feature de EJS
    (voir doc : https://github.com/mde/ejs#features )-->

    <h2>Temperature</h2>

    <!--Code EJS (JavaScript dans du HTML)-->

    <!--Si une tempé est trouvé-->
    <% if (temp) { %>
    <p><%= ville %> à une température de <%= temp %> °C.</p>
    <!--Sinon-->
    <% } else { %>
    <p>Pas de température trouvée !</p>
    <% } %>
  </body>
</html>
